/*
scss/
 ├─ abstracts/   // переменные, функции, mixins
 ├─ base/        // reset, typography, общие стили
 ├─ components/  // кнопки, карточки 
 ├─ layout/      // сетка, header, footer, sidebar 
 ├─ pages/       // стили отдельных страниц
 ├─ themes/      // темы (dark/light)
 ├─ vendors/     // библиотеки, например normalize.css
 └─ main.scss    // точка входа
*/

 // теперь можно писать просто $main-color
@use 'abstracts/index'  as abstracts;
@use 'base/index'       as *;      
@use 'components/index' as components;   
@use 'layout/index'     as layout;
@use 'pages/index'      as pages;
@use 'themes/index'     as themes;
@use 'vendors/index'    as vendors;


/*
Mobile (portrait)	320px – 480px	iPhone SE, Galaxy S5
Mobile (landscape)	481px – 767px	iPhone 14 landscape, small Android phones
Tablet (portrait)	768px – 991px	iPad Mini, Galaxy Tab
Tablet (landscape)	992px – 1199px	iPad Pro landscape
Small Desktop	1200px – 1439px	Small laptops, older monitors
Large Desktop	1440px and up	Full HD monitors, ultrawide screens
*/


.default-btn {
    // padding: 15px;   
    border: 0;
}

.default-bg {
  background-color: white !important;
}

.right-side { margin-left: auto;}

.d-block { display: block; }

.d-none { display: none; }

.d-flex { display: flex; }

button {
   @extend .default-btn ;
}


.full-screen {
    position: absolute;
    top: 0;
    left: 0; 
    right: 0;
    bottom: 0;
 }
 

.full-parrent {
    position: absolute;
    top: 0;
    left: 0; 
    right: 0;
    bottom: 0;
 }

