@charset "UTF-8";
/*
scss/
 ├─ abstracts/   // переменные, функции, mixins
 ├─ base/        // reset, typography, общие стили
 ├─ components/  // кнопки, карточки 
 ├─ layout/      // сетка, header, footer, sidebar 
 ├─ pages/       // стили отдельных страниц
 ├─ themes/      // темы (dark/light)
 ├─ vendors/     // библиотеки, например normalize.css
 └─ main.scss    // точка входа
*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.btn, .btn-danger, header nav #authNavList button, .btn-secondary, .btn-primary {
  padding: 10px;
  margin: 5px;
  font-size: 17px;
  cursor: pointer;
}

.btn-primary {
  background-color: rgb(63, 97, 236);
  color: white;
}

.btn-secondary {
  background-color: rgb(157, 157, 184);
  color: white;
}

.btn-danger, header nav #authNavList button {
  background-color: rgba(178, 17, 17, 0.667);
  color: white;
}

.btn-primary:hover {
  background-color: rgb(19, 61, 228);
}

.btn-primary:active {
  background-color: rgb(116, 142, 244);
}

.btn-secondary:hover {
  background-color: rgba(50, 50, 58, 0.667);
}

.btn-danger:hover, header nav #authNavList button:hover {
  background-color: rgba(255, 106, 106, 0.667);
}

.comment_container {
  box-shadow: 0px 0px 24px 0px rgb(197, 197, 197);
  padding: 10px;
  width: 1200px;
  margin: 0 auto;
  border: 1px solid black;
}
.comment_container #comment-content {
  width: 100%;
  resize: vertical;
  padding: 10px;
  field-sizing: content;
  border: 3px solid gray;
}
.comment_container .form-row {
  padding: 10px;
}
.comment_container .user-card-small {
  padding: 10px 10px 10px 5px;
  display: flex;
  align-items: center;
}
.comment_container .user-card-small > span {
  font-size: 18px;
  display: inline-block;
  padding: 10px 0;
}
.comment_container .user-card-small > img {
  border-radius: 30px;
  margin: 3px 3px 3px 0px;
}
.comment_container .user-name {
  margin: 3px 10px;
}
.comment_container .comment-row {
  display: flex;
  align-items: stretch;
}
.comment_container .comment-row .btn-primary {
  margin: 0 0 0 5px;
  padding: 0;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 52px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 8px;
}
.tags .tag {
  background: #eee;
  padding: 5px 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.tags .tag span {
  cursor: pointer;
  font-weight: bold;
}

.table-wrapper {
  max-width: 1200px;
  max-height: 600px;
  height: 600px;
  overflow-y: scroll;
  overflow-x: scroll;
  position: relative;
  margin: 0 auto;
}
.table-wrapper table {
  border: 1px solid black;
  margin: 20px;
}
.table-wrapper table td {
  /* max-width: 300px;
        max-height: 100px; */
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}
.table-wrapper .td-date {
  white-space: nowrap;
  color: blue;
}
.table-wrapper .td-content {
  max-width: 300px;
  max-height: 200px;
  overflow-y: auto;
  overflow-x: auto;
}
.table-wrapper button {
  cursor: pointer;
}

.loader-wrapper {
  background-color: rgba(147, 147, 147, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader-wrapper .loader {
  width: 40%;
  height: 40%;
  position: relative;
}
.loader-wrapper .loader .circle-wrapper-1 {
  position: absolute;
  top: 0;
  left: 50%;
  width: 6%;
  height: 100%;
  animation: circleMovement 2s infinite ease-in-out;
  animation-delay: 0.1s;
}
.loader-wrapper .loader .circle-wrapper-1 .circle-1 {
  width: 100%;
  aspect-ratio: 1/1;
  background-color: rgb(42, 79, 189);
  border-radius: 50%;
}
.loader-wrapper .loader .circle-wrapper-2 {
  position: absolute;
  top: 0;
  left: 50%;
  width: 6%;
  height: 100%;
  animation: circleMovement 2s infinite ease-in-out;
  animation-delay: 0.2s;
}
.loader-wrapper .loader .circle-wrapper-2 .circle-2 {
  width: 100%;
  aspect-ratio: 1/1;
  background-color: rgb(42, 79, 189);
  border-radius: 50%;
}
.loader-wrapper .loader .circle-wrapper-3 {
  position: absolute;
  top: 0;
  left: 50%;
  width: 6%;
  height: 100%;
  animation: circleMovement 2s infinite ease-in-out;
  animation-delay: 0.3s;
}
.loader-wrapper .loader .circle-wrapper-3 .circle-3 {
  width: 100%;
  aspect-ratio: 1/1;
  background-color: rgb(42, 79, 189);
  border-radius: 50%;
}
.loader-wrapper .loader .circle-wrapper-4 {
  position: absolute;
  top: 0;
  left: 50%;
  width: 6%;
  height: 100%;
  animation: circleMovement 2s infinite ease-in-out;
  animation-delay: 0.4s;
}
.loader-wrapper .loader .circle-wrapper-4 .circle-4 {
  width: 100%;
  aspect-ratio: 1/1;
  background-color: rgb(42, 79, 189);
  border-radius: 50%;
}
.loader-wrapper .loader .circle-wrapper-5 {
  position: absolute;
  top: 0;
  left: 50%;
  width: 6%;
  height: 100%;
  animation: circleMovement 2s infinite ease-in-out;
  animation-delay: 0.5s;
}
.loader-wrapper .loader .circle-wrapper-5 .circle-5 {
  width: 100%;
  aspect-ratio: 1/1;
  background-color: rgb(42, 79, 189);
  border-radius: 50%;
}
.loader-wrapper .loader .circle-wrapper-6 {
  position: absolute;
  top: 0;
  left: 50%;
  width: 6%;
  height: 100%;
  animation: circleMovement 2s infinite ease-in-out;
  animation-delay: 0.6s;
}
.loader-wrapper .loader .circle-wrapper-6 .circle-6 {
  width: 100%;
  aspect-ratio: 1/1;
  background-color: rgb(42, 79, 189);
  border-radius: 50%;
}

@keyframes circleMovement {
  0% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.default-btn, button {
  border: 0;
}

.full-screen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.full-parrent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

header {
  padding: 0;
}
header nav a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
header nav #auth-nav-list-wrapper {
  position: relative;
  width: 150px;
  display: flex;
  justify-content: center;
  margin: 15px 0 15px auto;
}
header nav #auth-nav-list-wrapper > button {
  background-color: rgb(71, 107, 139);
  color: white;
}
header nav ul {
  list-style: none;
  display: flex;
  padding-left: 0;
  margin: 15px 15px 15px 0;
}
header nav ul li {
  display: block;
  padding: 15px;
}
header nav ul li:hover {
  background-color: rgb(126, 126, 193);
  cursor: pointer;
}
header nav ul li:hover a {
  color: white;
}
header nav > ul,
header nav > button {
  padding: 15px;
}
header nav #authNavList {
  position: absolute;
  background-color: grey;
  top: 54px;
  z-index: 99;
  margin: 0;
  width: 100%;
}
header nav #authNavList li {
  text-align: center;
}
header nav #authNavList button {
  margin: 0;
  padding: 15px 0;
  width: 100%;
}

#top-menu {
  width: 1200px;
  margin: 0 auto;
}
#top-menu > div {
  display: flex;
  margin: 0 0px;
}
#profileBtn {
  cursor: pointer;
  padding: 15px 30px;
  width: 100%;
}
#profileBtn:hover {
  background-color: rgb(126, 126, 193);
}

main {
  width: 1200px;
  margin: 0 auto;
}

.right-side {
  margin-left: auto;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

/*# sourceMappingURL=output.css.map */
