.tags {
   display: flex;
   flex-wrap: wrap;
   gap: 5px;
   margin-top: 8px;
}

.tag {
   background: #eee;
   padding: 5px 10px;
   border-radius: 20px;
   display: flex;
   align-items: center;
   gap: 5px;
}

.tag span {
   cursor: pointer;
   font-weight: bold;
}


table {
   border: 1px solid black;
   margin: 20px;
}

table td {
   /* max-width: 300px;
         max-height: 100px; */
   border: 1px solid black;
   padding: 10px;
   text-align: center;

}

.td-date {
   white-space: nowrap;
   color: blue;
}
.td-content {
   max-width: 300px;
   max-height: 200px;
   overflow-y: auto; 
   overflow-x: auto; 
}

.table-wrapper {
   max-width: 1200px;
   max-height: 600px;
   overflow-y: scroll;
   overflow-x: scroll;
}

table button {
   cursor: pointer;
}

#savePost {
   padding: 10px;
   margin: 5px;
   background-color: rgb(63, 97, 236);
   color: white;
   font-size: 17px;
   cursor: pointer;
   
}

#reset {
   padding: 10px;
   margin: 5px;
   background-color: rgb(63, 63, 69);
   color: white; 
   font-size: 17px; 
   cursor: pointer;
}

#savePost:hover {
   background-color: rgb(19, 61, 228);;
}
#savePost:active  {
   background-color: rgb(116, 142, 244);;
}


#reset:hover {
  background-color: rgb(202, 202, 228);
  color: black;
}

#reset:active  {
   background-color: rgb(157, 157, 184);
}