@use '@scss/abstracts/index' as *;


main {

}

.content-section {
  position: relative;
}

.main-wrapper {
  min-height: 100vh;
  background-color: $color-bg;
}

.main-content-title {
  color: $color-text;
  padding: 5px 20px;
}

@media screen and (max-width: $xl-bp) {
  .content-section, .main-content-title  {
    padding: 10px;
  }

}