@use '@scss/abstracts/index' as *;


main {
  background-color: $color-bg;
}

.content-section {
  position: relative;
}

.main-wrapper {
  background-color: white;
  min-height: 100vh;
}

.main-content-title {
  color: $color-text;
  padding: 5px 20px;
}

@media screen and (max-width: $xl-bp) {
  .content-section, .main-content-title  {
    padding: 10px;
  }

}