@use '../../assets/scss/abstracts/index' as abs;

.breadcrumbs {
  color: abs.$color-text;
  padding: 10px 30px;
  a {
    @extend %menu-list-item;
  }
  ul {
    padding: 0;
    @extend %menu-list;
    li {
      display: inline-block;
      &:hover a {
        color: abs.$color-secondary;
      }
    }
  }
}

