

[data-theme="light"] { 
  --color-bg: #ffffff;
  --color-text: #222;

  --color-primary: #3d5cf2;
  --color-primary-hover: #2f4ae0;
  --color-primary-active: #233bc1;

  --color-secondary: #9aa2b5;
  --color-secondary-hover: #7f8698;
  --color-secondary-active: #676d7d;

  --color-danger: #e64545;
  --color-danger-hover: #ff5c5c;
  --color-danger-active: #c93131;

  --color-info: #2f80ed;
  --color-info-hover: #4d96f2;
  --color-info-active: #2567d6;

  --color-warning: #f5b82e;
  --color-warning-hover: #f8c953;
  --color-warning-active: #dca722;

  --color-success: #4caf50;
  --color-success-hover: #64c567;
  --color-success-active: #3f8f43;

    --color-bg-rgb: 255, 255, 255;
}
