

@use '../abstracts/index' as abs;

* {
   box-sizing: border-box;
}

body {

   z-index: 9;
   margin: 0;
   padding: 0;
   background-color: #AFAFAF;
   background-size: contain;

   &.no-scroll {
      overflow: hidden !important; 
   }

   background-image: url("#{abs.$base-img-path}/bg.jpg");
   // background-position: 50% 50%;
    background-position: -600px -500px;
   //  background-repeat: no-repeat;
}


select, button {
   cursor: pointer;
}


