@use '@scss/abstracts' as abs;

.login-btn, sign-up-btn {
  margin: 0 5px
}


.auth-offer-mobile {
   margin-top: 20px;
}

@media screen and (max-width: abs.$xl-bp) {
  .auth-offer {
    display: none !important;
  }
}
