@use '@scss/components/buttons';
@use '@scss/abstracts/index' as abs;
@use '@scss/utilities/index.scss';


%profileIconSize {
  width: 22px;
  height: 22px;
}

.profile-btn-image {
  border-radius: 30px;
  margin: 0 5px;
}

.profile-btn-wrapper {
  position: relative;
  margin-left: 20px;
  background-color: abs.$color-warning;
  &:hover {
    .profile-btn {
      background-color: abs.$color-warning-hover;
    }

    .profile-btn::after {
      transform: rotate(180deg);
    }
  }
}


.profile-btn,
.aside-profile-btn {
  box-shadow: 0px 0px 30px -14px #000000;
  cursor: pointer;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0);
  display: flex !important;
  align-items: center;
  padding: 6px 12px 6px 12px;

  &::before,
  &::after {
    @extend %profileIconSize;
    content: "";
    transition: 0.5s transform ease;
    display: block;
  }

  //&::before {
  //  @include abs.icon-mask(abs.$icon-svg-profile-round, 20px, abs.$color-text);
  //  margin: 5px 10px 5px 5px;
  //}

  &::after {
    @include abs.icon-mask(abs.$icon-svg-down, 20px, abs.$color-text);
    margin: 5px 5px 5px 3px;
  }
}

.aside-profile-btn-wrapper {
  min-width: abs.$aside-menu-width;
  // display: flex;
  display: none;
  flex-direction: column;
  justify-content: center;
  margin: 0 15px;

  background-color: abs.$color-warning;

  .form-row {
    .aside-profile-btn {
      @extend .d-flex-h-center;
      width: 100%;
      margin: 0;
      background-color: rgba(31, 36, 40, 0.2);

      &::after {
        transform: rotate(0deg);
      }

      &.is-open {
        &::after {
          transform: rotate(180deg);
        }

      }
    }
  }



  .auth-nav-list {
    // height: 0;
    // max-height: 0;
    // overflow: hidden;
    @include abs.animated-appear-via-max-height(false, 0.5s); // Default (collapsed) state

    &.is-open {
      @include abs.animated-appear-via-max-height(true, 0.5s, 500px); // Open state
      // height: calc-size(auto, size);
      //  max-height: 500px;
      /* Use auto with calc-size() */
    }

    // transition: 0.3s height ease-in-out;
    // transition: max-height 0.5s ease-in-out; /* Animate the max-height */


    position: static;
    background-color: abs.$color-bg;
    color: abs.$color-text;
    display: block;
    margin: 0;
    z-index: 0;
    overflow-y: hidden;

    li {
      text-align: center;
    }

    button {
      // @extend .default-btn;
      @extend .btn-danger;
      margin: 0;
      padding: 15px 0;
      width: 100%;
    }
  }
}