@use '@assets/scss/abstracts' as abs;
@use '@assets/scss/utilities';
@use 'sass:math';

.vertical-stand {
  width: 30%;
  z-index: 1;
  overflow: hidden; // hide overflow outside view

  .slider, .mobile-wrapper {
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease-in-out;
    flex-wrap: wrap;
    overflow: hidden;

    .category {
      @extend .disable-highlight;
      border: 1px solid black;
      background-color: darkgray;
      width: 100%;
      height: math.div(abs.$billboard-height, 2);
      overflow: hidden;

      .category-img {
        @include abs.flexbox(row, center, center);
        color: white;
        font-size: 4rem;
        width: 100%;
        height: 100%;
        @extend .default-link;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 0% 10%;
        backdrop-filter: blur(50px);
        -webkit-backdrop-filter: blur(10px);

        &.scaled-in {
          transform: scale(1.1);
          &:hover {
            transition: transform 0.3s ease-in-out;
            transform: scale(1);
          }
        }

        &.scaled-0 {
          transform: scale(1);
          &:hover {
            transition: transform 0.3s ease-in-out;
            transform: scale(1.1);
          }
        }

        > span {
          z-index: 2;
        }

        &::after {
          content: "";
          position: absolute;
          inset: 0;
          //background: rgba(0, 0, 0, 0.25); // blue tint
          transition: all 0.3s ease-in-out;
          z-index: 1;
        }

        &:hover::after {
          backdrop-filter: blur(5px);
          -webkit-backdrop-filter: blur(2px);
          background: rgba(0, 0, 0, 0.45); // stronger tint on hover
        }
      }
    }
  }

  .mobile-wrapper {
    display: none;
  }
}