@use '@scss/abstracts/index' as abs;

$billboard-height: 550px;

.billboard {
  @include abs.flexbox(row, null, null, null, 5px);
  height: $billboard-height;
  padding: 0 !important;
  margin: 20px;
  overflow: hidden;
  .carousel {
    width: 70%;
    position: relative;
    background-image: url('../../assets/images/background_cover_1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: 0.8s background-image ease-in-out;
    cursor: pointer;


    .bottom-panel,
    .bottom-decorate {
      position: absolute;
      width: 100%;
      height: 30px;
      bottom: 0;
    }
    .bottom-decorate {
      opacity: 0.2;
      background-color: white;
    }
    .bottom-panel {
      position: absolute;
      width: 100%;
      height: 30px;
      @include abs.flexbox(row, center, center, null, 5px);

      .dot {
        width: 40px;
        height: 10px;
        border-radius: 10px;
        background-color: white;
        opacity: 0.3;

        &:hover {
          opacity: 0.7;
          cursor: pointer;
          background-color: white !important;
        }
        &.active {
          opacity: 0.7;
          transition: 0.3s opacity ease-in-out;
        }
      }
    }
  }

  .vertical-stand {
    width: 30%;
    z-index: 1;
    overflow: hidden; // hide overflow outside view

    .slider, .mobile-wrapper {
      display: flex;
      flex-direction: column;
      transition: transform 0.5s ease-in-out;

      .category {
        @include abs.flexbox(row, center, center);
        border: 1px solid black;
        background-color: darkgray;
        width: 100%;
        height: calc($billboard-height / 2);
        padding: 10px;

        @extend .default-link;

        color: white;
        font-size: 4rem;

        &:hover {
          opacity: 0.5;
        }
      }
    }

    .mobile-wrapper {
      display: none;
    }
  }

}
