* {
   box-sizing: border-box;
}

body {
   z-index: 9;
   margin: 0;
   padding: 0;
   background-color: #AFAFAF;
   // background-image: url(../../images/ChatGPT\ Image\ 1\ сент.\ 2025\ г.\,\ 16_49_09.png);
   background-size: cover; 
}

