@use '../abstracts/variables'as *;

.btn {
  padding: 10px;
  margin: 5px;
  font-size: 17px;
  cursor: pointer;
}

@mixin createBtn($bgColor, $hColor, $aColor: "") {
    background-color: $bgColor;
    color: white;
    cursor: pointer;
    
    &:hover { 
      background-color: $hColor; 
    }

    &:active {
      background-color: $aColor;
    }
} 

.btn-info { 
  // @extend .btn; 
  @include createBtn($info-color, $primary-color-hover, $primary-color-active); 
}


.btn-primary {
  @extend .btn;
  @include createBtn($primary-color, $primary-color-hover, $primary-color-active); 

}

.btn-secondary {
  @extend .btn;
  @include createBtn($secondary-color, $secondary-color-hover); 
}

.btn-danger {
  @extend .btn;
  @include createBtn($danger-color, $danger-color-hover); 
  
}


.btn-warning { 
  @extend .btn; 
  @include createBtn($warning-color, $warning-color-hover, $warning-color-active); 
}

.btn-success { 
  @extend .btn; 
  @include createBtn($success-color, $success-color-hover, $success-color-active); 

}

.login-btn, .sign-in-btn { 

    font-size: 18px; 
    padding: 8px 15px 8px 15px; 
}
.login-btn {
    @extend .btn-success; 
}

.sign-in-btn {
   @extend .btn-secondary; 
}