@use '@scss/abstracts' as abs;
@use '@scss/utilities/helpers';

#main-content-title {
  margin: 5px 30px;
}

.posts-wrapper, .post-row {
  padding: 15px 30px 10px 30px;
  display: flex;
  width: 100% !important;
  flex-wrap: wrap;
  min-height: 500px;
  //gap: 10px;
}


