


$color-bg: var(--color-bg);
$color-bg-rgb: var(--color-bg-rgb);

$color-text: var(--color-text);
$color-text-rgb: var(--color-text-rgb);

$color-primary: var(--color-primary);
$color-primary-hover: var(--color-primary-hover);
$color-primary-active: var(--color-primary-active);
$color-primary-text: var(--color-primary-text);
$color-primary-rgb: var(--color-primary-rgb);

$color-secondary: var(--color-secondary);
$color-secondary-hover: var(--color-secondary-hover);
$color-secondary-active: var(--color-secondary-active);
$color-secondary-text: var(--color-secondary-text);
$color-secondary-rgb: var(--color-secondary-rgb);

$color-danger: var(--color-danger);
$color-danger-hover: var(--color-danger-hover);
$color-danger-active: var(--color-danger-active);
$color-danger-text: var(--color-danger-text);
$color-danger-rgb: var(--color-danger-rgb);

$color-info: var(--color-info);
$color-info-hover: var(--color-info-hover);
$color-info-active: var(--color-info-active);
$color-info-text: var(--color-info-text);
$color-info-rgb: var(--color-info-rgb);

$color-warning: var(--color-warning);
$color-warning-hover: var(--color-warning-hover);
$color-warning-active: var(--color-warning-active);
$color-warning-text: var(--color-warning-text);
$color-warning-rgb: var(--color-warning-rgb);

$color-success: var(--color-success);
$color-success-hover: var(--color-success-hover);
$color-success-active: var(--color-success-active);
$color-success-text: var(--color-success-text);
$color-success-rgb: var(--color-success-rgb);

$xxl-bp: 1400px; 
$xl-bp: 1200px;
$lg-bp: 992px;
$md-bp: 768px;
$sm-bp: 576px; 
$xs-bp: 340px;

$base-icon-path: "src/assets/icons/";
$base-img-path: "src/assets/images/";


$icon-svg-burger: "#{$base-icon-path}burger.svg";
$icon-svg-close: "#{$base-icon-path}close.svg";
$icon-svg-up: "#{$base-icon-path}up.svg";
$icon-svg-down: "#{$base-icon-path}down.svg";
$icon-svg-profile-round: "#{$base-icon-path}profile-round.svg";
$icon-svg-search: "#{$base-icon-path}search.svg";


$billboard-height: 550px;

$post-card-lg-width: 250px;
$post-card-lg-height: 300px;

$tag-height: 40px;