
%menu-list {
    list-style: none;
}

%menu-list-item {   
    text-decoration: none; 
    color: black;
    font-size: 18px; 
}

%default-link {
    color: black;
    text-decoration-line: none;
}

.default-link {
    @extend %default-link; 
}

