


$color-bg: var(--color-bg);
$color-text: var(--color-text);

$color-primary: var(--color-primary);
$color-primary-hover: var(--color-primary-hover);
$color-primary-active: var(--color-primary-active);

$color-secondary: var(--color-secondary);
$color-secondary-hover: var(--color-secondary-hover);
$color-secondary-active: var(--color-secondary-active);

$color-danger: var(--color-danger);
$color-danger-hover: var(--color-danger-hover);
$color-danger-active: var(--color-danger-active);

$color-info: var(--color-info);
$color-info-hover: var(--color-info-hover);
$color-info-active: var(--color-info-active);

$color-warning: var(--color-warning);
$color-warning-hover: var(--color-warning-hover);
$color-warning-active: var(--color-warning-active);

$color-success: var(--color-success);
$color-success-hover: var(--color-success-hover);
$color-success-active: var(--color-success-active);



$xxl-bp: 1400px; 
$xl-bp: 1200px;
$lg-bp: 992px;
$md-bp: 768px;
$sm-bp: 576px; 
$xs-bp: 340px;

