
// variebles 
$main-color: #3498db;

$primary-color: rgb(63, 97, 236); 
$primary-color-hover: rgb(19, 61, 228);
$primary-color-active: rgb(116, 142, 244);

$secondary-color: rgb(157, 157, 184);
$secondary-color-hover: rgba(50, 50, 58, 0.667); 
// hover
// active
$danger-color: rgba(178, 17, 17, 0.667); 
$danger-color-hover: rgba(255, 106, 106, 0.667); 

$info-color: rgb(86, 120, 255); 
$info-color-hover: rgb(168, 168, 214); 

$warning-color: #FFC107; 
$warning-color-hover: #9e9066; 
$warning-color-active: #FFD557;


$success-color: #61a562; 
$success-color-hover: #85bb86; 
$success-color-active: #336734;

$theme: 'dark';

$xxl-bp: 1400px; 
$xl-bp: 1200px;
$lg-bp: 992px;
$md-bp: 768px;
$sm-bp: 576px; 
$xs-bp: 340px;

