
@use '@scss/components/buttons';
@use '@scss/abstracts/index' as *;
@use '@scss/utilities/index.scss';

.header-search {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 8px;

  .search-controll {
    width: 100%;
    gap: 3px;
    .search-close { display: none; background-color: white; }
  }
  .search-content {
    display: none;
    width: 100%;
    z-index: 999;

  }

  .see-more {
    color: $color-bg;
    padding: 1rem;
    display: block;
    text-align: center;
    &:hover {
      color: $color-danger-text;
      background-color: $color-secondary-hover;
    }
  }

  &.active {
    .search-content.is-open {
      display: block;
    }
    .search-close {
      border: 2px solid rgb(145, 145, 145);
      border-radius: 20px;
      &:hover {
        border: 2px solid $color-danger;
        background-color: rgb(255, 255, 255);
        color: $color-danger;
      }
    }

    .search-input,
    .search-btn,
    .search-close
    {
      display: block;
    }
    .search-toggle {
      display: none !important;
    }
  }

  // input + button (default desktop style)
  .search-input {
    flex: 1;
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #bbb;
    border-radius: 20px;
    transition: all 0.25s ease;
    min-width: 100px;
    width: 100%;
    background-color: $color-bg;
    color: $color-text;

    &:focus {
      border-color: #5678ff;
      box-shadow: 0 0 6px rgba(86, 120, 255, 0.3);
      outline: none;
    }
  }
  .search-btn {
    padding: 8px 14px;
    border-radius: 20px;
    background: linear-gradient(135deg, $color-info, $color-info-active);
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    transition: background 0.2s ease, transform 0.1s ease;

    &:hover {
      background: linear-gradient(135deg, $color-info, $color-info-hover);
    }

    &:active {
      transform: scale(0.95);
    }

  }
  // icon-only button for mobile
  .search-toggle {
    display: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;

    @include icon-mask($icon-svg-search, 30px, $color-text);
    // background: $color-info url("../images/search.png") no-repeat center/18px;
    // cursor: pointer;
    border: none;
    &:hover {
      cursor: pointer;
      background-color: #d2dafa; // only color changes
    }
  }
  .search-close {
    display: none;
    background: transparent !important;
    border: none;
    font-size: 22px;
    cursor: pointer;
    color: $color-text;

  }
  &.active {
    .search-close {
      display: block;
    }
  }
}


.search-post-list {
  @extend %menu-list;
  display: block;
  a {
    height: 85px;
  }
  li {
    @extend %menu-list-item;
    display: block;
    width: 100%;
    padding: 0;
    margin: 5px 0;

    border: 2px dashed rgb(119, 119, 119);
    overflow: hidden;
    text-align: justify;
    line-height: 1.3rem;



    a {
      @extend %default-link;
      display: flex;
      padding: 10px;
      .post-cover {
        width: 120px;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }

  .post-title-wrapper {
    // padding: 0px 15px 15px 15px;
    margin: 0 15px;
    width: 100%;
    overflow: hidden;
  }
}


@media screen and (min-width: $lg-bp) {
  .search-content {
    position: absolute;
    background: $color-primary;
    top: 50px;
    right: 0;
    border: 1px solid black;
    width: 70% !important;
  }
  .search-post-list {
    margin: 5px;
  }
}

@media screen and (max-width: $md-bp) {
  .search-post-list {
    margin: 0;
    li a {
      padding: 5px;
      font-size: 1rem;
    }
  }
  .see-more {
    padding: 0.5rem !important;
  }
}

@media screen and (max-width: $xl-bp) {
  .search-content { width: 100% !important }
}
