@use '@scss/components/buttons';
@use '@scss/abstracts/index' as *;
@use '@scss/utilities/index.scss';


.top-menu {
  position: relative;
}

.top-header-link {
  display: block;
  padding: 8px 16px;
  border: 2px solid white;
  background: linear-gradient(135deg, rgba(180, 180, 180, 0.8), rgba(100, 100, 100, 0.8));
  color: white;
  font-weight: 600;
  text-align: center;
  transition: all 0.25s ease;

  &:hover {
    background: linear-gradient(135deg, rgba(200, 200, 200, 0.9), rgba(80, 80, 80, 0.9));
    // border-color: rgba(255, 255, 255, 0.8);
    // transform: scale(1.01);
    border-color: rgba(255, 255, 255, 1);

  }
}

header {
  padding: 0;
  position: relative;


  .header-label {
    margin: 0 auto;
    background-color: rgba(43, 38, 90, 0.8);
    padding: 10px;
    color: white;
    font-size: 2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  }

  .header-img-block {
    display: flex;
    align-items: center;
    height: 100px;
    // background-image: url('https://retrocat.de/wp-content/uploads/2021/07/RetroCat_Mode.jpg');
    // background-repeat: no-repeat;
    // background-size: auto;
    background-position: calc(100%) 20%;
    overflow: hidden;
  }

  nav {
    a {
      @extend %menu-list-item;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
      Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
      sans-serif;
    }

    .auth-nav-list-wrapper {
      position: relative;
      display: flex;
      justify-content: center;
      margin: 15px 0 15px auto;
      gap: 8px;

      .form-row {
        display: flex;
        align-items: center;
      }


      select {
        padding: 6px 12px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 6px;
        background-color: #fff;
        color: #333;
        cursor: pointer;
        transition: border-color 0.2s ease, box-shadow 0.2s ease;

        &:hover {
          border-color: #5678ff;
        }

        &:focus {
          border-color: #5678ff;
          box-shadow: 0 0 0 2px rgba(86, 120, 255, 0.2);
          outline: none;
        }

        option {
          background: #fff;
          color: #333;

          &:hover {
            background: #f5f5f5;
          }
        }
      }

      // Make language & theme dropdowns slightly different widths
      .language-select {
        min-width: 80px;
      }

      .theme-select {
        min-width: 120px;
      }
      .language-select, .theme-select {
        background-color: $color-bg;
        color: $color-text;
      }


    }


    .profile-btn-wrapper {
      .auth-nav-list {
        display: none;
      }
    }

    ul {
      @extend %menu-list;
      display: flex;
      padding-left: 0;
      .guest-nav-list {
        margin: 15px 15px 15px 0;

      };

      li {
        display: block;
        padding: 15px;

        &:hover {
          background-color: $color-primary-active;
          cursor: pointer;

          a {
            color: white;
          }
        }

      }
    }

    >ul,
    >button {
      //   @extend .default-btn;
      padding: 15px;
    }
  }
}

.auth-nav-list {
  position: absolute;
  background-color: $color-bg;
  top: 42px;
  right: 0;
  z-index: 99;
  margin: 0;
  width: 100%;
  box-shadow: 0 0 5px $color-secondary;
  li {
    text-align: center;
  }

  button {
    @extend .btn-danger;
    margin: 0;
    padding: 15px 0;
    width: 100%;
  }

  &.is-open {
    display: block !important;
  }

}


.top-menu {
  margin: 0 auto;
  background-color: $color-bg;


  > .top-menu-content {
    display: flex;
    margin: 0;
    box-shadow: 1px 1px 100px rgba($color: #000000, $alpha: 0.2);
    padding: 0 10px;
    align-items: center;

    $burger-size: 45px;

    .burger-menu-btn {
      display: none;
      //flex-shrink: 0;
      width: $burger-size;
      height: $burger-size;
      cursor: pointer;
      color: $color-text;
      @include icon-mask($icon-svg-burger, 40px, $color-text);

      &:hover {
        background-color: $color-primary-active;
      }

      &.is-open {
        @include icon-mask($icon-svg-close, 40px, $color-text);
      }
    }
  }

  >button {
    // @extend .default-btn
  }
}




.arrow-down-icon {
  transition: transform 0.5s ease !important;
}




$sideMenuWrapperAppearTime: 0.3s;

#sideMenuWrapper {
  z-index: 9999;
}

.side-menu-wrapper {
  @extend .full-screen-fixed;
  background-color: rgba(209, 209, 209, 0.5);
  z-index: 999;

  @include animated-disappear-via-visibility($sideMenuWrapperAppearTime);

  &.is-open {
    @include animated-appear-via-visibility($sideMenuWrapperAppearTime);
  }

  .side-menu {
    transition: $sideMenuWrapperAppearTime left ease;
    overflow: hidden;
    // width: 0px;
    height: 100vh;
    background-color: $color-bg;
    position: absolute;
    top: 0;
    left: -$aside-menu-width;

    &.is-open {
      // width: aside-menu-width;
      left: 0;
    }

    .top-aside-block {
      min-width: $aside-menu-width;
      height: 67px;
      text-align: center;
      padding: 25px 20px 20px 20px;
      font-size: 20px;
      //margin-bottom: 20px;
      position: relative;
      color: $color-text;
      .close-aside {
        position: absolute;
        width: 45px;
        height: 45px;
        left: 10px;
        top: 10px;
        cursor: pointer;

        &:hover {
          background-color: $color-primary-active;
        }

        @include icon-mask($icon-svg-close, 40px, $color-text);
      }
    }

    .side-menu-list {
      @extend %menu-list;
      // TODO: fix
      display: block !important;
      margin: 0 !important;
      padding: 15px;
      min-width: $aside-menu-width;

      .side-menu-item {
        @extend .d-flex-center;
        @extend %menu-list-item;

      }
    }
  }
}


